
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding: 0 16px;
  width: 100%;
}
.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 0;
  width: 100%;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 600px) {
  .search {
    margin-left: 8px;
    width: auto;
  }
}

.search-icon-wrapper {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-input-base {
  color: inherit;
  width: 100%;
}

.styled-input-base .MuiInputBase-input {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  transition: width 0.3s;
}

@media (min-width: 600px) {
  .styled-input-base .MuiInputBase-input {
    width: 12ch;
  }

  .styled-input-base .MuiInputBase-input:focus {
    width: 20ch;
  }
}

.ingredients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin: 20;
}

.list-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 8px 16px;
}